:root{
    --font-color : #fff;
    --font-family : "Montserrat";
}
.main{
    size : 62.5%;
    border-color: rgba(0,0,0,0);
    color: var(--font-color);
    font-family: var(--font-family);
    border-style: solid;
    border-radius: 5rem;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    backdrop-filter: blur(2rem);
    width : 25vw;
    height: 50vh;
}
.main-center-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("img/dark_background.jpg");
    background-size: cover;
}
.main-products-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98vw;
    background-image: url("img/dark_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.center{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.checkbox-container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
.submit-btn{
    background : none;
    border: var(--font-color) solid 0.2rem;
    border-radius: 1rem;
    color : var(--font-color);
    font-family: var(--font-family);
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
}
.menu{
    display : flex;
    width: 14vw;
    justify-content: center;
    position:fixed;
    backdrop-filter: blur(1rem);
    border: var(--font-color) solid 0.2rem;
    border-radius: 1rem;
    overflow: hidden;
}
.footer-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 9vh;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*backdrop-filter: blur(1rem);*/
    background: none;
    /*border: var(--font-color) solid 0.2rem;*/
    border :none;
    /*border-radius: 1rem;*/
    color: var(--font-color);
    height: 7vh;
    width: 4vw;
    cursor: pointer;
    transition: 0.5s;
    padding-top: 0vh;
}
.menu-icon{
    font-size: 180%;
    position: absolute;
    transition: all 0.5s;
    top : 2.3vh
}
.nav-name{
    position : absolute;
    top : 5vh; 
    opacity : 0;
}
.product-section{
    display : flex;
    color : var(--font-color);
    font-family: var(--font-family);
    width : 50vw;
    height : 25vh;
    margin: 1vh;
    padding: 0.5rem;
    border: var(--font-color) solid 0.2rem;
    border-radius: 1rem;
    background-color: rgba(35, 35, 35, 0.895);
}
.product-text-section{
    width : 100%;
}
.product-title{
    font-size: 2rem;
}
.product-description{
    font-size: 1rem;
}
.product-img{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 10vh;
    width: 5vw;
}
.product-text-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.4rem;
}
.product-bottom-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.buy-icon{
    align-self: center;
    font-size: 150%;
    cursor : pointer;
}