:root{
    --font-color : #fff;
    --icon-color1 : #ffffff;
}
.main{
    size : 62.5%;
    border-color: rgba(0,0,0,0);
    color: var(--font-color);
    font-family: "Montserrat";
    border-style: solid;
    border-radius: 5rem;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    backdrop-filter: blur(2rem);
    width : 25vw;
    height: 50vh;
}
.main-center-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("img/dark_background.jpg");
    background-size: cover;
}
.center{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.checkbox-container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
.submit-btn{
    background : none;
    border: var(--font-color) solid 0.2rem;
    border-radius: 1rem;
    color : var(--font-color);
    font-family: "Montserrat";
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
}
.menu{
    display : flex;
    width: 14vw;
    justify-content: center;
    position:fixed;
    backdrop-filter: blur(1rem);
    border: var(--font-color) solid 0.2rem;
    border-radius: 1rem;
}
.footer-menu{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 9vh;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*backdrop-filter: blur(1rem);*/
    background: none;
    /*border: var(--font-color) solid 0.2rem;*/
    border :none;
    /*border-radius: 1rem;*/
    color: var(--font-color);
    height: 7vh;
    width: 4vw;
    cursor: pointer;
    transition: 0.5s;
}
i{
    font-size: 180%;
}
.nav-btn:hover > .nav-name{
    display: flex;
}
.nav-btn:hover > i{
    font-size:100%;
}
.nav-btn:hover{
    padding-top: 1vh;
}
.nav-name{
    display: none;
}

i.fa-solid {
    color: var(--icon-color1);
}